<body>
    <p id="notice"></p>

<p>
  <strong>Title:</strong>
  トラブル知らずのシステム設計
</p>

<p>
  <strong>Body:</strong>
  システム設計の要点を図解で説明してくれます
</p>

<a class="edit_34099" href="/books/34099/edit">Edit</a> |
<a class="back" href="/books">Back</a>

  

</body>